.calendar-wrapper {
  width: 210px;
}

.calendar-header {
  height: 30px;
  font-size: 1.5em;
}

.calendar-header-left {
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
}

.calendar-header-center {
  width: 60%;
  float: left;
  text-align: center;
  cursor: pointer;
}

.calendar-header-right {
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
}

.calendar-header-right:hover {
  background-color: green;
}

.calendar-header-left:hover {
  background-color: green;
}

.calendar-header-center:hover {
  background-color: green;
}


.calendar-table {
  width: 100%;
  background-color: brown;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 0.8em;
  height: 180px;
}

.calendar-table tr td:hover {
  background-color: black;
  border-radius: 40%;
}
